## 남녀 아이돌 가사의 1인칭 대명사 '나'의 주격, 목적격 사용 비교

In [1]:
import pandas as pd
from tqdm import tqdm 
tqdm.pandas()
import numpy as np
import re

In [40]:
# 출처: https://github.com/BLUENCE/M5_Idol_lyrics/blob/master/Data/song_data_yoon_ver06.csv
df = pd.read_csv('lyrics.csv', usecols=['artist','lyrics'])
df.head()

     artist                                             lyrics
0  서태지와 아이들  갈수 없는 곳이란 우리에겐 없어<br>보이는 길밖에도 세상은 있어<br>언제나 식지...
1  서태지와 아이들  항상 난 지나치기만 했네<br>이젠 난 미련없이 끝내<br>됐어 찾아냈어 난<br>...
2  서태지와 아이들  난 알아요이밤이 흐르고 흐르면 누군가가<br>나를 떠나버려야 한다는 그사실을<br>...
3  서태지와 아이들  너와 함께 한 시간 속에서-<br> <br>너를 처음 만난 그때를<br>자세하게 말...
4  서태지와 아이들  니가 아무리 지금 날 좋아한다고 해도<br>그건 지금뿐일지도 몰라<br>왜냐하면 어...

In [41]:
# 전처리 
df.lyrics = df.lyrics.progress_apply(lambda x: x.replace('<br>',' ').lower())

100%|████████████████████████████████████████████████████████████████████████| 9548/9548 [00:00<00:00, 64398.26it/s]

In [42]:
# 출처: https://github.com/BLUENCE/M5_Idol_lyrics/blob/master/Data/artist_info_ver04.csv
adf = pd.read_csv('artists.csv', usecols=['artist','gender'])
adf.head()

     artist gender
0  서태지와 아이들      남
1      더 블루      남
2         잼      혼
3     에스오에스      여
4       솔리드      남

In [43]:
# 가사 데이터에 가수 성별 데이터 추가 후 혼성 그룹의 데이터는 제외
df = df.join(adf.set_index('artist'), on='artist').query('gender!="혼"')
df

        artist                                             lyrics gender
0     서태지와 아이들  갈수 없는 곳이란 우리에겐 없어 보이는 길밖에도 세상은 있어 언제나 식지않는 마음이...      남
1     서태지와 아이들  항상 난 지나치기만 했네 이젠 난 미련없이 끝내 됐어 찾아냈어 난 모두가 또 나를 ...      남
2     서태지와 아이들  난 알아요이밤이 흐르고 흐르면 누군가가 나를 떠나버려야 한다는 그사실을 그 이유를 ...      남
3     서태지와 아이들  너와 함께 한 시간 속에서-   너를 처음 만난 그때를 자세하게 말해 줄 수는 없지...      남
4     서태지와 아이들  니가 아무리 지금 날 좋아한다고 해도 그건 지금뿐일지도 몰라 왜냐하면 어 그건 말야...      남
...        ...                                                ...    ...
9543    프로미스나인  한번 쯤 그려왔던 그 날이 올까 소중히 바래왔던 내 맘 넌 알까 오 빛나는 땀방울도...      여
9544    프로미스나인  love me take me kiss me get me closer 숨길 수가 없어...      여
9545    프로미스나인  어떡해 너 때문에 내 머린 지끈지끈 지끈거려 왜 i feel like woo hu ...      여
9546    프로미스나인  always wanna be with you 작고 작은 나의 고백 always wa...      여
9547    프로미스나인  빙글빙글 빙그르 빙그르 toc toc 빙글빙글 시계의 바늘이 toc toc 빙글빙글...      여

[9189 rows x 3 columns]

In [44]:
objs = [' 나를 ', ' 저를 ', ' me '] # 1인칭 대명사의 목적격 
subjs = [' 내가 ', ' 제가 ', ' i '] # 1인칭 대명사의 주격 

def count_case(lyrics):
    obj_count = 0
    subj_count = 0
    for obj in objs:
        obj_count += lyrics.count(obj)
    for subj in subjs:
        subj_count += lyrics.count(subj)
    total = obj_count + subj_count
    if total == 0:
        return 0,0
    else:
        return obj_count/total, subj_count/total

df[['obj_ratio', 'subj_ratio']] = df.lyrics.progress_apply(lambda x: count_case(x)).tolist()

100%|████████████████████████████████████████████████████████████████████████| 9189/9189 [00:00<00:00, 55490.79it/s]

In [45]:
df

,artist,lyrics,gender,obj_ratio,subj_ratio
0,서태지와 아이들,갈수 없는 곳이란 우리에겐 없어 보이는 길밖에도 세상은 있어 언제나 식지않는 마음이...,남,0.000000,0.000000
1,서태지와 아이들,항상 난 지나치기만 했네 이젠 난 미련없이 끝내 됐어 찾아냈어 난 모두가 또 나를 ...,남,1.000000,0.000000
2,서태지와 아이들,난 알아요이밤이 흐르고 흐르면 누군가가 나를 떠나버려야 한다는 그사실을 그 이유를 ...,남,0.500000,0.500000
3,서태지와 아이들,너와 함께 한 시간 속에서- 너를 처음 만난 그때를 자세하게 말해 줄 수는 없지...,남,0.000000,1.000000
4,서태지와 아이들,니가 아무리 지금 날 좋아한다고 해도 그건 지금뿐일지도 몰라 왜냐하면 어 그건 말야...,남,0.000000,0.000000
...,...,...,...,...,...
9543,프로미스나인,한번 쯤 그려왔던 그 날이 올까 소중히 바래왔던 내 맘 넌 알까 오 빛나는 땀방울도...,여,0.500000,0.500000
9544,프로미스나인,love me take me kiss me get me closer 숨길 수가 없어...,여,1.000000,0.000000
9545,프로미스나인,어떡해 너 때문에 내 머린 지끈지끈 지끈거려 왜 i feel like woo hu ...,여,0.333333,0.666667
9546,프로미스나인,always wanna be with you 작고 작은 나의 고백 always wa...,여,0.000000,0.000000
9547,프로미스나인,빙글빙글 빙그르 빙그르 toc toc 빙글빙글 시계의 바늘이 toc toc 빙글빙글...,여,1.000000,0.000000

In [49]:
df.groupby('gender').count()

        artist  lyrics  obj_ratio  subj_ratio
gender
남         5855    5855       5855        5855
여         3334    3334       3334        3334

In [52]:
# 남녀 아이돌 모두 표본 개수 3000개로 샘플링 
sampled_df = pd.concat([df.query('gender=="여"').sample(3000), df.query('gender=="남"').sample(3000)])
sampled_df.groupby('gender').count()

        artist  lyrics  obj_ratio  subj_ratio
gender
남         3000    3000       3000        3000
여         3000    3000       3000        3000

### (1) 성별에 따른 1인칭 대명사 주격 사용 비교

In [55]:
# 샘플링된 데이터에서 성별에 따른 1인칭 대명사 주격 사용 비율의 평균 
sampled_df.groupby('gender')['subj_ratio'].mean()

gender
남    0.501960
여    0.432303
Name: subj_ratio, dtype: float64

In [58]:
female_subj = sampled_df.query('gender=="여"').subj_ratio.tolist()
male_subj = sampled_df.query('gender=="남"').subj_ratio.tolist()

In [ ]:
# 표본 개수가 3000개이므로 정규성 검정은 패스

In [64]:
# 등분산성 확인
from scipy.stats import levene
print(levene(female_subj, male_subj))

from scipy.stats import bartlett
print(bartlett(female_subj, male_subj))

# p-value가 0.05보다 커서 등분산성이 있다고 할 수 있다.

LeveneResult(statistic=0.5877353427046988, pvalue=0.4433263581158554)
BartlettResult(statistic=0.012169200234786768, pvalue=0.9121602768530819)

In [65]:
# t-test
from scipy.stats import ttest_ind
_, pvalue = ttest_ind(female_subj, male_subj, equal_var=True)
pvalue

3.245277856980764e-11

In [66]:
# 1인칭 대명사 주격 사용 비율은 성별에 따라 통계적으로 유의미하게 차이가 있다 
pvalue < 0.01

True

### (2) 성별에 따른 1인칭 대명사 목적격 사용 비교

In [56]:
# 샘플링된 데이터에서 성별에 따른 1인칭 대명사 목적격 사용 비율의 평균 
sampled_df.groupby('gender')['obj_ratio'].mean()

gender
남    0.331707
여    0.394030
Name: obj_ratio, dtype: float64

In [67]:
female_obj = sampled_df.query('gender=="여"').obj_ratio.tolist()
male_obj = sampled_df.query('gender=="남"').obj_ratio.tolist()

In [68]:
# 표본 개수가 3000개이므로 정규성 검정은 패스

In [69]:
# 등분산성 확인
from scipy.stats import levene
print(levene(female_obj, male_obj))

from scipy.stats import bartlett
print(bartlett(female_obj, male_obj))

# p-value가 0.05보다 작아서 등분산성이 있다고 할 수 없다.

LeveneResult(statistic=58.817929253687254, pvalue=2.005676601086402e-14)
BartlettResult(statistic=17.31644444289048, pvalue=3.164366052655011e-05)

In [73]:
# t-test
from scipy.stats import ttest_ind
_, pvalue = ttest_ind(female_obj, male_obj, equal_var=False)
pvalue

3.3785913481969937e-10

In [74]:
# 1인칭 대명사 목적격 사용 비율은 성별에 따라 통계적으로 유의미하게 차이가 있다 
pvalue < 0.01

True